<ion-view view-title="Drink History">
  <ion-nav-buttons side="right">
    <i class="button button-icon ion-plus" ui-sref="app.drink({id: new})"></i>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item item-thumbnail-left" collection-repeat="drink in allDrinks" ui-sref="app.drink(drink)">
        <img ng-src="{{drink.img}}" class="img-small"/>
        <h2>{{drink.type}}: {{drink.quantity}} ml</h2>
        <p>Alcohol level: {{drink.BAC}}&permil;</p>
        <p>{{drink.time | date}}</p>
        <ion-option-button class="button button-assertive" on-touch="deleteDrink(drink)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <h1>{{count}}</h1>
  </ion-content>
</ion-view>
