<ion-view view-title="Drink">
  <form name="drinkInputForm">
  <ion-content>
      <div class="list card img-large">
        <div class="row">
          <div class="col-50">
            <img ng-src="{{drink.img}}" alt="Drink"/>
          </div>
          <div class="col-50">
            <label class="item item-input item-stacked-label" on-tap="openModal()">
              <i class="icon ion-arrow-down-a"></i>
              <span class="input-label">Select a drink</span>
              <div>
                <span>{{drink.type}}</span>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="list card">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Quantity</span>
          <input type="number" required placeholder="{{settings.volume}}" ng-model="drink.quantity"/>{{settings.volume}}
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Alcohol strength</span>
          <input type="number" required placeholder="%" ng-model="drink.strength"/>
        </label>
        <div class="item">
          <span class="input-label">Pick date and time</span>
          <ionic-timepicker input-obj="timePickerObject">
            <button class="button button-block button-stable overflowShow">
              <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
              <span>{{hours}}</span> : <span>{{minutes}}</span>
            </button>
          </ionic-timepicker>
          <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-block button-stable"> {{datepickerObject.inputDate | date:'dd - MMMM -yyyy'}}
            </button>
          </ionic-datepicker>
        </div>
      </div>
  </ion-content>
    <ion-footer-bar>
      <button class="button button-block button-positive button-drink-add" on-touch="addDrink(drink, drinkInputForm)">
        {{action}}
      </button>
    </ion-footer-bar>
  </form>
</ion-view>
